<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Formulario Registro Empleado</title>
</head>
<body>
  <section class="form-register">
    <h4>Formulario Registro Empleado</h4>
    <input class="controls" type="name" name="name" id="name" placeholder="Nombre Empleado">
    <input class="controls" type="text" name="descripcion" id="descripcion" placeholder="Descripción">
    <input class="controls" type="number" name="valorventa" id="valorventa" placeholder="Valor Venta">
    <input class="controls" type="number" name="stock" id="stock" placeholder="Cantidad Stock">
    <input class="controls" type="number" name="estado" id="estado" placeholder="Estado">
    <input class="botons" type="submit" value="Agregar">
    <p><a href="login">¿Actualizar Empleado?</a></p>
  </section>
  <br>
  <br>
</body>
</html>
